<p>form works!</p>

<form [formGroup]="artistForm" (ngSubmit) = "onSubmit()" >

<div>
    <label for="first_name"> First Name</label>
    <input id="first_name" type="text" formControlName="first_name">
</div>
<div>
    <label for="year_born"> Year Written</label>
    <input id="year_born" type="number" formControlName="year_born">
</div>

<button type="submit" [disabled]= "!artistForm.valid" >Submit</button>

<div *ngIf="first_name.invalid && first_name.touched"  class="alert alert-danger" >
    first_name is required and must be more than three characters
</div>
<div *ngIf="year_born.invalid && year_born.touched"  class="alert alert-danger" >
    Year Written is required.
</div>


</form>
