<!DOCTYPE HTML>
<!-- Author : Aisling Mc Loughlin - S00189922
	 Date : 2022
	 Page : Artwork Page                      -->

<html lang="en">

<head>
  Required meta tags
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="Art Gallery that is based in Sligo">
  <meta name="keywords" content="art, images">
  <meta name="author" content="Aisling Mc Loughlin">

  <!-- Title of Page -->
  <title> Art & Ink | Artworks </title>
</head>

<body>
  <header>
  </header>

  <!-- Main -->
  <main>
    <div class="main-wrapper">
      <h1 class="h1">Explore Artwork</h1><section id="discover-tickets" class="sec-explore container">
        <div class="row">
            <div class="col-lg-6 item"> <a href="https://www.researchgate.net/figure/Rembrandt-van-Rijn-Self-Portrait-c-1628-Oil-on-panel-8-7-8-7-3-8-inches-226-187_fig4_350770905/"> <!--Links to page-->
                    <div class="img-wrapper">
                        <img alt="Artist's Info Page" src="..\assets\images\artwork.png" />
                        <div class="overlay"></div>
                    </div>
                    <div class="text-panel">
                        <h3 class="h3">Artworks</h3>
                    </div>
                    
                </a>
            </div>
            <div class="col-lg-6 item"> <a href="https://www.researchgate.net/figure/Rembrandt-van-Rijn-Self-Portrait-1669-Oil-on-canvas-25-3-4-23-3-4-inches-654-602_fig3_350770905">
                    <div class="img-wrapper">
                        <img alt="Artist's Info Page" src="..\assets\images\artist.png"/>
                        <div class="overlay"></div>
                    </div>
                    <div class="text-panel">
                        <h3 class="h3">Artists</h3>
                    </div>
                  
                </a>
            </div>

        </div>

    </section>
    <br><br><br>
      <div class="container-fluid">


        <div class="container">

          <div *ngIf="message" class="alert alert-warning alert-dismissible show" role="alert">
            <strong>Opps</strong> {{message}}
            <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
          </div>

          <button (click)="openAddArtwork()" *ngIf="!showArtworkForm" class="btn btn-lg btn-outline-primary">Add
            Artwork</button>

          <button (click)="openEditArtwork()" *ngIf="!showArtworkForm" [disabled]="!currentArtwork"
            class="btn btn-lg btn-outline-primary">Edit Artwork</button>

          <button (click)="deleteArtwork()" *ngIf="!showArtworkForm" [disabled]="!currentArtwork"
            class="btn btn-lg btn-outline-danger">Delete Artwork</button>

          <!-- <app-artwork-form *ngIf="showArtworkForm" 
    (newArtworkEvent)="addNewArtwork"
    (artworkFormClose)="artworkFormClose($event)"
      [artwork]="currentArtwork"></app-artwork-form> -->

          <app-artwork-form *ngIf="showArtworkForm" (artworkFormClose)="artworkFormClose($event)"
            [artwork]="currentArtwork"></app-artwork-form>

          <div *ngIf="!showArtworkForm">
            <app-artwork-row class="card" *ngFor="let a of artworkList" [artwork]="a" (click)='clicked(a)'
              [class.bg-info]="isSelected(a)" [class.text-white]="isSelected(a)">
            </app-artwork-row>
          </div>

          <app-artwork-details *ngIf="currentArtwork!" [artwork]="currentArtwork">

          </app-artwork-details>


          
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <footer>
    <div class="details-footer">
      <div class="row">
        <div class="col-lg-12">
          <h4>Opening hours </h4>
          <div class="content">
            Tuesday – Saturday: 11:00 – 17:00
            <p>
              Admission Fee<br>
              In-House Booking <br>
              Entrance is on mainstreet
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class=" wrapper">
      <div class="row">
        <div class="col-lg-12">
          <nav class="nav-footer">
            <ul>
              <li> <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
              <li> <a class="nav-item nav-link" routerLink="/artists" routerLinkActive="active">Artists</a>
              </li>
              <li> <a class="nav-item nav-link" routerLink="/artworks" routerLinkActive="active">Artworks</a>
              </li>
              <li> <a class="nav-item nav-link" routerLink="/tickets" routerLinkActive="active">Tickets</a>
              </li>
              <li> <a class="nav-item nav-link" routerLink="/events" routerLinkActive="active">Events</a>
              </li>
              <li>
                <a href="https://www.nationalgallery.ie/">National Gallery</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <h4>
                Contact Us
              </h4>
              <p>
                Art &amp; Ink, 4 Castle St,<br /> Abbeyquarter North,<br />Sligo, F91 P863
                <a class="button" href="https://www.google.com/maps/dir/?api=1&amp;destination=54.274207,-8.474979"
                  target="_blank">(Get Directions)</a>
              </p>
              <p>
                Tel: <a href="tel://+353719150632">+353 (0) 7191 50632</a><br>
                Email: <a href="mailto:info@themodel.ie">info@artandink.ie</a>
              </p>
            </div>

            <div class="col-md-4">
              <h4> About Us </h4>
              <div>
                <ul>
                  <li>
                    <a routerLink="/tickets" routerLinkActive="active">Event Tickets</a>
                  </li>
                  <li>
                    <a routerLink="/artists" routerLinkActive="active">Global Artists</a>
                  </li>
                  <li>
                    <a routerLink="/artworks" routerLinkActive="active">International Artwork</a>
                  </li>
                  <li>
                    <a routerLink="/events" routerLinkActive="active">Exhibitions</a>
                  </li>

                </ul>
              </div>
            </div>

            <div class="col-md-4">
              <h4> More Information </h4>
              <div>
                <ul>
                  <li>
                    <a routerLink="/tickets" routerLinkActive="active">Event Tickets</a>
                  </li>

                  <li>
                    <a href="https://goo.gl/maps/SE1Bg31SoyP9N4tk9">Directions &amp; Map</a>
                  </li>
                  <li>
                    <a href="https://www.thedoorwaygallery.com/?msclkid=22a6272ed12a11ecb88ee136da9777e6">Sister
                      Gallery</a>
                  </li>
                  <li>
                    <a href="https://www.themodel.ie/cookie-policy/">Cookie Policy</a>
                  </li>
                  <li>
                    <a href="https://www.themodel.ie/terms-and-conditions/">Terms &amp;
                      Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="row">
          <div class="col-12">
            <p>&copy; Copyright 2022 College Project</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>