<!DOCTYPE HTML>
<!-- Author : Aisling Mc Loughlin - S00189922
	 Date : 2022
	 Page : HomePage                      -->

<html lang="en">

<head>
    Required meta tags
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Art Gallery that is based in Sligo">
    <meta name="keywords" content="art, images">
    <meta name="author" content="Aisling Mc Loughlin">

    <!-- Title of Page -->
    <title> Art & Ink | Home </title>
</head>

<body>
    <header>
       

    </header>

    <main>

        <div class="h1">Explore More</div>

        <!-- <button id="button" type='button'>Get Joke</button>
        <p id="setup"></p>
        <p id="punchline"></p>
        <p id="error"></p> -->

        <section id="discover-artists" style="padding-bottom: 25px; padding-top: 25px;">
            <a class="dartist" routerLink="/artists">
                <img alt="Artists Page" src="..\assets\images\artist.png" class="responsive" width="1000" height="500">
            </a>

            <a class="h1" routerLink="/artists">
                <h1 class="h1">Artists</h1>
            </a>
        </section>

        <section id="discover-artworks" style="padding-bottom: 25px; padding-top: 25px;">
            <a class="dartist" routerLink="/artworks">
                <img alt="Artworks Page" src="..\assets\images\artwork.png" class="responsive" width="1000"
                    height="500">
            </a>

            <a class="h1" routerLink="/artworks">
                <h1 class="h1">Artworks</h1>
            </a>
        </section>

        <section id="discover-tickets" style="padding-bottom: 25px; padding-top: 25px;">
            <a class="dartist" routerLink="/tickets">
                <img alt="Ticket Page" src="..\assets\images\tickets.png" class="responsive" width="1000" height="500">
            </a>

            <a class="h1" routerLink="/tickets">
                <h1 class="h1">Tickets</h1>
            </a>
        </section>

        <section id="discover-events" style="padding-bottom: 25px; padding-top: 25px;">
            <a class="dartist" routerLink="/events">
                <img alt="Event Page" src="..\assets\images\events.png" class="responsive" width="1000" height="500">
            </a>

            <a class="h1" routerLink="/events">
                <h1 class="h1">Events</h1>
            </a>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <nav id="nav_footer">
            <ul>
                <li> <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
                <li> <a class="nav-item nav-link" routerLink="/artists" routerLinkActive="active">Artists</a></li>
                <li> <a class="nav-item nav-link" routerLink="/artworks" routerLinkActive="active">Artworks</a></li>
                <li> <a class="nav-item nav-link" routerLink="/tickets" routerLinkActive="active">Tickets</a></li>
                <li> <a class="nav-item nav-link" routerLink="/events" routerLinkActive="active">Events</a></li>
                <li>
                    <a href="https://www.nationalgallery.ie/">National Gallery</a>
                </li>
            </ul>
        </nav>
        <br />

        
          
        
<div class="Row">
        <div class="wrapper">
            <div class="Row">
            <div id="first" class="col-md-2 col-sm-2 ">

                <h2 style="padding-left: 35px">
                    <font color="#ffffff">Opening hours</font>
                </h2>
                <p>
                    <font color="#ffffff"><span style="color: #000000;"></span></font>
                </p>

                <div>
                    <p>
                        <font color="#ffffff"><span style="font-size: 12pt; color: #000000;">
                                <span style="font-family: serifastd-light;">Tue. – Sat. 11am –
                                    5pm</span></span></font>
                    </p>

                    <p>
                        <font color="#ffffff">
                            <span style="font-size: 12pt; color: #000000;">
                                <span style="font-family: serifastd-light;">Admission Fee<br>Booking Required<br>
                                </span><span style="font-family: serifastd-light;">Entrance is on main street<br>
                                </span></span>
                        </font>
                    </p>

                </div>
                <div>
                    <p>
                        <font><span style="color: #000000;">Art &amp; Ink, 4 Castle St, Abbeyquarter North,
                                Sligo</span><br>
                            <span style="color: #000000;">F91 P863</span>
                        </font>
                    </p>
                    <p>
                        <font><span style="color: #000000;"><i class="fa fa-phone"></i> <a style="color: #000000;"
                                    href="tel://+353719150632">+353 (0) 7191
                                    50632</a></span><br>
                            <span style="color: #000000;"><i class="fa fa-envelope"></i> <a style="color: #000000;"
                                    href="mailto:info@themodel.ie">info@artandink.ie</a></span>
                        </font>
                    </p>
                </div>
            </div>
            </div>
<div class="Column">
            <div id="second" class="col-md-2 col-sm-2">
                <h2 style="position: left" id="list">
                    <font color="#ffffff">Information</font>
                </h2>

                <div style="font-size: 12pt; color: #000000; font-family: serifastd-light;">
                    <ul>
                        <li id="list">

                            <font><a routerLink="/tickets" routerLinkActive="active"><i
                                        class="fa fa-angle-right"></i>Event Tickets</a></font>
                        </li>
                        <li id="list">
                            <font><a href="https://goo.gl/maps/SE1Bg31SoyP9N4tk9"><i
                                        class="fa fa-angle-right"></i>Directions &amp; Map</a></font>
                        </li>
                        <li id="list">
                            <font><a routerLink="/artists" routerLinkActive="active"><i
                                        class="fa fa-angle-right"></i>Global Artists</a></font>
                        </li>
                        <li id="list">
                            <font><a routerLink="/artworks" routerLinkActive="active"><i
                                        class="fa fa-angle-right"></i>International Artwork</a></font>
                        </li>
                        <li id="list">
                            <font><a routerLink="/events" routerLinkActive="active"><i
                                        class="fa fa-angle-right"></i><span style="font-size: 12pt; color: #000000;">
                                        <span style="font-family: serifastd-light;">Exhibitions</span></span></a>
                            </font>

                        </li>
                        <li id="list">
                            <font><a href="https://www.themodel.ie/privacy-statement/"><i
                                        class="fa fa-angle-right"></i>Privacy Statement</a></font>
                        </li>
                        <li id="list">
                            <font><a href="https://www.themodel.ie/cookie-policy/"><i
                                        class="fa fa-angle-right"></i>Cookie Policy</a></font>
                        </li>
                        <li id="list">
                            <font><a href="https://www.themodel.ie/terms-and-conditions/"><i
                                        class="fa fa-angle-right"></i>Terms &amp; Conditions</a></font>

                        </li>

                    </ul>

                </div>
            </div>
            </div>

            <div class="Column">
        <div id="third" class="col-md-2 col-sm-2">
            <h2 style="position: left" id="list">
                <font color="#ffffff">Information</font>
            </h2>

            <div style="font-size: 12pt; color: #000000; font-family: serifastd-light;">
                <ul>
                    <li id="list">

                        <font><a routerLink="/tickets" routerLinkActive="active"><i
                                    class="fa fa-angle-right"></i>Event Tickets</a></font>
                    </li>
                    <a class="button" href="https://www.google.com/maps/dir/?api=1&amp;destination=54.274207,-8.474979" target="_blank">(Get Directions)</a>

                    <li id="list">
                        <font><a href="https://goo.gl/maps/SE1Bg31SoyP9N4tk9"><i
                                    class="fa fa-angle-right"></i>Directions &amp; Map</a></font>
                    </li>
                    <li id="list">
                        <font><a routerLink="/artists" routerLinkActive="active"><i
                                    class="fa fa-angle-right"></i>Global Artists</a></font>
                    </li>
                    <li id="list">
                        <font><a routerLink="/artworks" routerLinkActive="active"><i
                                    class="fa fa-angle-right"></i>International Artwork</a></font>
                    </li>
                    <li id="list">
                        <font><a routerLink="/events" routerLinkActive="active"><i
                                    class="fa fa-angle-right"></i><span style="font-size: 12pt; color: #000000;">
                                    <span style="font-family: serifastd-light;">Exhibitions</span></span></a>
                        </font>

                    </li>
                    <li id="list">
                        <font><a href="https://www.thedoorwaygallery.com/?msclkid=22a6272ed12a11ecb88ee136da9777e6"><i
                                    class="fa fa-angle-right"></i>Sister Gallery</a></font>
                    </li>
                    <li id="list">
                        <font><a href="https://www.themodel.ie/cookie-policy/"><i
                                    class="fa fa-angle-right"></i>Cookie Policy</a></font>
                    </li>
                    <li id="list">
                        <font><a href="https://www.themodel.ie/terms-and-conditions/"><i
                                    class="fa fa-angle-right"></i>Terms &amp; Conditions</a></font>

                    </li>

                </ul>

            </div>
            
        </div>
    </div>
    </div>
</div>

         <!--<p>&copy; Copyright 2022 College Project</p> -->
    </footer>
</body>

</html>