body {
	background-color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
	position: relative;
	height: 200vh;
	display: inline-block;
	width: 100%;
}

	.header .bg-img {
		background-image: url('https://ik.imagekit.io/theartling/prod/original_images/fb348158589d4d89bb97988c295d52ca.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: 0;
	}

a {
	color: #292F36;
	text-decoration: none;

}

	a:hover {
		color: #365599;
	}

.header .logo {
	float: left;
	height: 70px;
	width: 200px;
}

.header .nav-wrapper {
	height: 70px;
	background: white;
	width: 100%;
	z-index: 10;
	position: fixed;
	padding: 5px 0;
	top: 0;
}

	.header .nav-wrapper .nav-container {
		float: right;
		margin-right: 10px;
	}

	.header .nav-wrapper #nav_menu ul {
		list-style-type: none;
		margin: 0;
	}

		.header .nav-wrapper #nav_menu ul li {
			float: left;
		}

			.header .nav-wrapper #nav_menu ul li a {
				text-align: center;
				display: block;
				min-width: 80px;
				padding: 19px 10px;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 18px;
				color: #292F36;
				font-weight: bold;
				border-right: 2px solid #f3f3f3;
			}

				.header .nav-wrapper #nav_menu ul li a.lastitem {
					border-right: none;
				}

				.header .nav-wrapper #nav_menu ul li a.current {
					color: #7c94c9;
				}

main {
	max-width: 1600px;
	margin: 0 auto;
}

	main .wrapper p {
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}

	main article {
		padding: 20px 0;
	}

	main .featured-wrapper {
		padding: 0 15px;
		text-align: center;
	}

		main .featured-wrapper img {
			width: 32.333%;
			height: auto;
		}

figcaption {
	display: block;
	font-weight: bold;
	padding-top: .25em;
	margin-bottom: 1em;
	border-bottom: 1px solid black;
}



	.gallery h2 {
		max-width: 1000px;
		margin: 0 auto;
		text-align: justify;
		padding: 10px 5px;

	}

	.gallery .gallery-wrapper {
		text-align: center;
	}

		.gallery .gallery-wrapper figure {
			width: 24%;
			height: auto;
			display: inline-block;
			margin: 0;
		}

		.gallery .gallery-wrapper img {
			width: 100%;
		}

		.gallery .gallery-wrapper figure {
			position: relative;
			overflow: hidden;
			text-align: center;
		}

		.gallery .gallery-wrapper figcaption {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			background: rgba(0,0,0,.4);
			opacity: 0;
			-webkit-transition: opacity .35s;
			-o-transition: opacity .35s;
			transition: opacity .35s;
		}

			.gallery .gallery-wrapper figcaption span {
				left: 0;
				position: absolute;
				right: 0;
				top: 45%;
				text-transform: uppercase;
				color: white;
			}

		.gallery .gallery-wrapper figure:hover figcaption {
			opacity: 1;
		}

	.gallery iframe {
		display: block;
		margin: 0 auto;
	}

	.art .header, .gallery .header {
		height: 60vh;
	}

	.art .art-wrapper {
		text-align: center;
		display: block;
		max-width: 1400px;
		margin: 0 auto;
	}

		.art .art-wrapper figure {
			width: 31%;
			padding: 0 5px;
			display: inline-block;
			margin: 0 auto;
		}
			.art .art-wrapper figure img {
				width: 100%;
			}

		.art .art-wrapper .panel-text {
			width: 100%;
			padding-bottom: 20px;
		}

	.contact article ul {
		max-width: 200px;
		margin: 10px auto 5px;
	}

	.contact form {
		max-width: 600px;
		margin: 0 auto;
	}

		.contact form label, .contact form input {
			margin: 5px 0;
			display: inline-block;
			vertical-align: top;
			width: 100px;
		}

		.contact form fieldset, .contact form .radio-wrapper {
			display: inline-block;
			margin: 5px 0;
		}

div {
	text-align: justify;
}

.h1 {
	text-align: center;
	font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 800;
	padding-top: 30px;
}
.dartist{
	display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: inherit;
	text-align: center;
}

.responsive {
	/* width: auto;
	height: auto; */
	border: 2px solid #365599;
  }

footer {
	background: #f3f3f3;
	text-align: center;
	padding: 20px 0;
	margin-top: 20px;
}

	footer #nav_footer ul {
		list-style-type: none;
		margin: 0 auto;
		display: inline-block;
	}

		footer #nav_footer ul li {
			float: left;
		}

			footer #nav_footer ul li a {
				text-align: center;
				display: block;
				min-width: 80px;
				padding: 5px 10px;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 16px;
				color: #365599;
			}

	footer p {
		text-align: center;
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.col-lg-2
	{
		float: left;
	}

	#wrapper {
		/*width: 500px;*/
		/*border: 1px solid black;*/
		overflow: hidden; /* will contain if #first is longer than #second */
	} 
	#first {
		width: 300px;
		float:left; /* add this */
		/* border: 1px solid red; */
	}
	#second {
		/* border: 1px solid green; */
		/*overflow: hidden; /* if you don't want #second to wrap below #first */
		float:left; /*add this*/
		display: inline;
		
	}
	
	#third{
		float:right; /* add this */
		/*overflow: hidden; /* if you don't want #third to wrap below #second */
	}

	
	.fa {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.fa {
		margin-top: 5px;
	}

	#list{
		 list-style-type: none; /*list-style-type used to remove bullentin points */
		 padding-bottom: 10px;
	}

	/*.Row {
		display: table;
		/*width: 100%; /*Optional*/
		/*table-layout: fixed; /*Optional*/
		/*border-spacing: 10px; /*Optional*/
/*	}
/*	.Column {
		display: table-cell;
	/*	background-color: red; /*Optional*/
/*	}
*/
	.container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	:root {
		--yellow: #f6e767;
		--white: #f6f7f8;
		--black: #2c2e31;
	  }
	  
	  * {
		box-sizing: border-box;
	  }
	  body {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 2rem;
		place-content: center;
		min-height: 100vh;
		background-color: var(--black);
		color: var(--white);
		text-align: center;
		font-size: 1.25rem;
		font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
		  "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed",
		  "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue",
		  Helvetica, Arial, sans-serif;
	  }
	  
	  p {
		margin: 2rem 0 0;
	  }
	  
	  #button {
		background: var(--yellow);
		color: var(--black);
		padding: 1rem 2rem;
		font-weight: 300;
		text-transform: uppercase;
		border: none;
		border-radius: 4px;
		transition: 0.1s ease transform;
		cursor: pointer;
	  }
	  
	  #button:active {
		transform: translatey(3px);
	  }
	  
	  #punchline {
		font-weight: 600;
		font-size: 1.5rem;
	  }
	  
	  #error {
		color: #ff4d51;
	  }
	  