<!DOCTYPE HTML>
<!-- Author : Aisling Mc Loughlin - S00189922
	 Date : 2022
	 Page : HomePage                      -->

<html lang="en">

<head>
    Required meta tags
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Art Gallery that is based in Sligo">
    <meta name="keywords" content="art, images">
    <meta name="author" content="Aisling Mc Loughlin">

    <!-- Title of Page -->
    <title> Art & Ink | Home </title>
</head>

<body>
    <header>
    </header>

    <!-- Main -->
    <main>
        <div class="main-wrapper">
            <h1 class="h1">Explore More</h1>
            <br>
            <div class="content">
                <p class="p1"><b>Artist-run since 1984.</b> Artworks Gallery is the longest-running cooperative gallery in
                    Sligo.
                    We’re committed to offering local artists of all media, creative and responsive environment in which
                    to
                    exhibit their work. <br><b>New exhibit every month by our member artists.</b></p>
            </div>
            <br>

            <button id="button" type='button'>Get Joke</button>
            <p id="setup"></p>
            <p id="punchline"></p>
            <p id="error"></p>

            <section id="discover-tickets" class="sec-explore container">
                <div class="row">
                    <div class="col-lg-6 item"> <a routerLink="/artists">
                            <div class="img-wrapper">
                                <img alt="Artists Page" src="..\assets\images\artist.png" />
                                <div class="overlay"></div>
                            </div>
                            <div class="text-panel">

                                <h3 class="h3">Artists</h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 item"> <a routerLink="/events">
                            <div class="img-wrapper">
                                <img alt="Event Page" src="..\assets\images\events.png" />
                                <div class="overlay"></div>
                            </div>
                            <div class="text-panel">

                                <h3>Events</h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 item">
                        <a routerLink="/tickets">
                            <div class="img-wrapper">
                                <img alt="Ticket Page" src="..\assets\images\tickets.png" />
                                <div class="overlay"></div>
                            </div>
                            <div class="text-panel">

                                <h3>Tickets</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-6 item"> <a routerLink="/artworks">
                            <div class="img-wrapper"><img alt="Artworks Page" src="..\assets\images\artwork.png" />
                                <div class="overlay"></div>
                            </div>
                            <div class="text-panel">

                                <h3>Artworks</h3>

                            </div>
                        </a>
                    </div>

                </div>
            </section>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="details-footer">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Opening hours </h4>
                    <div class="content">
                        Tuesday – Saturday: 11:00 – 17:00
                        <p>
                            Admission Fee<br>
                            In-House Booking <br>
                            Entrance is on mainstreet<br>
                            <b>N.B. Last entry is 15 minutes before closing</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class=" wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="nav-footer">
                        <ul>
                            <li> <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
                            <li> <a class="nav-item nav-link" routerLink="/artists"
                                    routerLinkActive="active">Artists</a>
                            </li>
                            <li> <a class="nav-item nav-link" routerLink="/artworks"
                                    routerLinkActive="active">Artworks</a>
                            </li>
                            <li> <a class="nav-item nav-link" routerLink="/tickets"
                                    routerLinkActive="active">Tickets</a>
                            </li>
                            <li> <a class="nav-item nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                            </li>
                            <li>
                                <a href="https://www.nationalgallery.ie/">National Gallery</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>
                                Contact Us
                            </h4>
                            <p>
                                Art &amp; Ink, 4 Castle St,<br /> Abbeyquarter North,<br />Sligo, F91 P863
                                <a class="button"
                                    href="https://www.google.com/maps/dir/?api=1&amp;destination=54.274207,-8.474979"
                                    target="_blank">(Get Directions)</a>
                            </p>
                            <p>
                                Tel: <a href="tel://+353719150632">+353 (0) 7191 50632</a><br>
                                Email: <a href="mailto:info@themodel.ie">info@artandink.ie</a>
                            </p>
                        </div>

                        <div class="col-md-4">
                            <h4> About Us </h4>
                            <div>
                                <ul>
                                    <li>
                                        <a routerLink="/tickets" routerLinkActive="active">Event Tickets</a>
                                    </li>
                                    <li>
                                        <a routerLink="/artists" routerLinkActive="active">Global Artists</a>
                                    </li>
                                    <li>
                                        <a routerLink="/artworks" routerLinkActive="active">International Artwork</a>
                                    </li>
                                    <li>
                                        <a routerLink="/events" routerLinkActive="active">Exhibitions</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h4> More Information </h4>
                            <div>
                                <ul>
                                    <li>
                                        <a routerLink="/tickets" routerLinkActive="active">Event Tickets</a>
                                    </li>

                                    <li>
                                        <a href="https://goo.gl/maps/SE1Bg31SoyP9N4tk9">Directions &amp; Map</a>
                                    </li>
                                    <li>
                                        <a
                                            href="https://www.thedoorwaygallery.com/?msclkid=22a6272ed12a11ecb88ee136da9777e6">Sister
                                            Gallery</a>
                                    </li>
                                    <li>
                                        <a href="https://www.themodel.ie/cookie-policy/">Cookie Policy</a>
                                    </li>
                                    <li>
                                        <a href="https://www.themodel.ie/terms-and-conditions/">Terms &amp;
                                            Conditions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="row">
                    <div class="col-12">
                        <p>&copy; Copyright 2022 College Project</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>